<div class="container">
  <h2> Log In </h2>

  <form action="/sessions" method="POST">
    <input type="text" name="user[name]" placeholder="Enter Username">
    <input type="password" name="user[password]" placeholder="Enter Password">
    <input type="submit" value="Login">
  </form>

</div>
