<div class="dog">

      <% @dogs.each do |dog| %>
        <h3><%= dog.name %></h3>
        <ul>
          <li><%= dog.age %></li>
          <li><%= dog.breed %></li>
        </ul>
        <p><%= dog.description %></p>

    <%end%>
  </div>
</body>

</div>
