
<div class="container">
    <h2> Create an Account </h2>

  <form id="sign-up" action="/users" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Get some puppies!">
  </form>
</div>
